---

---

<div class="text-sm bg-black overflow-hidden px-4 py-4 relative text-center text-white">
  CACYP, Av. Ángel T. de Alvear 2100, Don Torcuato.
  <span class="hidden md:inline"> - </span>
  <span class="block md:inline">Tel. 11 5155 7285</span>
</div>
