---
import Layout from '~/layouts/PageLayout.astro';
import HeroMain from '~/components/Hero.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Stats from '~/components/widgets/Stats.astro';
import Note from '~/components/widgets/Note.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';

const metadata = {
  title: 'Primer Golpe Tenis',
  ignoreTitleTemplate: true,
};

import ImagesHome from '../components/ImagesHome.jsx';
---

<Layout metadata={metadata}>
  <HeroMain />

  <Hero>
    <Fragment slot="subtitle"
      >En nuestra escuela de tenis, estamos comprometidos con el desarrollo integral de cada uno de nuestros jugadores.
      Desde principiantes hasta profesionales, cada atleta que pasa por nuestras canchas encuentra un equipo de
      entrenadores dedicados, un ambiente de camaradería y una metodología que se adapta a sus necesidades.
    </Fragment>
  </Hero>

  <Content
    isReversed
    callToAction={{
      text: 'Ver más',
      href: '/clases',
      icon: 'tabler:arrow-right',
      variant: 'primary',
    }}
    items={[
      {
        description:
          'En nuestra escuela, ofrecemos clases de tenis diseñadas para jugadores de todas las edades y niveles, desde principiantes hasta avanzados. Nuestro equipo de entrenadores certificados adapta cada sesión según las necesidades y objetivos de cada alumno, garantizando un progreso constante y personalizado.',
      },
    ]}
    image={{
      src: 'https://images.pexels.com/photos/16780568/pexels-photo-16780568/free-photo-of-mujer-jugando-deporte-tenis.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1',
      alt: 'Features Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Clases de tenis</h3>
    </Fragment>
  </Content>

  <Content
    callToAction={{
      text: 'Ver más',
      href: '/torneos',
      icon: 'tabler:arrow-right',
      variant: 'primary',
    }}
    items={[
      {
        description:
          'Creemos que la competencia es una parte fundamental del desarrollo de cualquier jugador. Por eso, organizamos torneos internos regulares para nuestros alumnos, brindándoles la oportunidad de poner a prueba sus habilidades en un entorno competitivo, pero a la vez amigable.',
      },
    ]}
    image={{
      src: 'https://images.pexels.com/photos/11915639/pexels-photo-11915639.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1',
      alt: 'Features Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Torneos</h3>
    </Fragment>
  </Content>

  <Content
    isReversed
    callToAction={{
      text: 'Ver más',
      href: '/clases',
      icon: 'tabler:arrow-right',
      variant: 'primary',
    }}
    items={[
      {
        description:
          'No solo nos enfocamos en mejorar el rendimiento físico y técnico de nuestros jugadores, sino también en ofrecerles herramientas que los ayuden a crecer como atletas y personas. Por eso, organizamos charlas motivacionales y educativas, impartidas por expertos en diferentes áreas, como psicología deportiva, nutrición, gestión emocional y entrenadores de alto nivel.',
      },
    ]}
    image={{
      src: 'https://images.pexels.com/photos/8224768/pexels-photo-8224768.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1',
      alt: 'Features Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Escuela de Tenis</h3>
    </Fragment>
  </Content>

  <Note />

  <Stats
    stats={[
      { title: 'Años', amount: '30' },
      { title: 'Alumnos', amount: '1000' },
      { title: 'Profesores', amount: '10' },
      { title: 'Equipos', amount: '6' },
    ]}
  />

  <ImagesHome start={4} end={8} client:load />

  <Testimonials
    title="Lo que nuestros alumnos piensan de nuestra escuela"
    subtitle=" "
    testimonials={[
      {
        testimonial: `Gracias a la academia, no solo he mejorado mi técnica, sino también mi mentalidad en la cancha. El equipo de entrenadores es increíble, siempre motivándonos a dar lo mejor en cada entrenamiento.`,
        name: 'Mariano Arias',
        job: 'Alumno de Lucas Corvalan',
        image: {
          src: 'https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Mark Thompson Image',
        },
      },
      {
        testimonial: `El ambiente aquí es único. He aprendido mucho tanto de los entrenadores como de mis compañeros. El enfoque personalizado me ayudó a perfeccionar mis puntos débiles y a destacar en las competencias.`,
        name: 'Emily Martinez',
        job: 'Jugadora Interclubes',
        image: {
          src: 'https://images.unsplash.com/photo-1554151228-14d9def656e4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=772&q=80',
          alt: 'Emily Martinez Image',
        },
      },
      {
        testimonial: `Lo que más aprecio de esta academia es la dedicación y el compromiso de los entrenadores. Siempre están pendientes de cada detalle, y eso ha hecho una gran diferencia en mi rendimiento. Sin duda, es el lugar perfecto para cualquier jugador que quiera alcanzar el siguiente nivel.`,
        name: 'Laura Simmons',
        job: 'Alumna de Raul',
        image: {
          src: 'https://images.unsplash.com/photo-1554727242-741c14fa561c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Laura Simmons Image',
        },
      },
    ]}
  />

  <Features2
    title="Encontranos en"
    columns={2}
    items={[
      {
        title: 'Club Atletico Caza y Pesca',
        description: 'Av. Ángel T. de Alvear 2100, Don Torcuato, Provincia de Buenos Aires',
      },
      {
        title: 'Dubai Tenis y Padel',
        description: 'Av. Ángel T. de Alvear 2100, Don Torcuato, Provincia de Buenos Aires',
      },
    ]}
  />

  <section class="pb-12">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3288.478212361535!2d-58.62790049842528!3d-34.49075883980252!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcbb4a4d19f145%3A0x4384a82a9a8891c2!2sClub%20Atl%C3%A9tico%20Caza%20y%20Pesca!5e0!3m2!1ses-419!2sar!4v1726089690342!5m2!1ses-419!2sar"
      width="100%"
      height="450"
      style="border:0;"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </section>
</Layout>
