---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
// import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Stats from '~/components/widgets/Stats.astro';
// import Testimonials from '~/components/widgets/Testimonials.astro';

const metadata = {
  title: 'Primer Golpe Tenis',
  ignoreTitleTemplate: true,
};

import ImagesHome from '../components/ImagesHome.jsx';
---

<Layout metadata={metadata}>
  <Hero
    image={{
      src: '~/assets/images/logos.png',
      alt: 'Hero Image',
    }}
  >
    <Fragment slot="title">Desde 1994 empeñados en enseñarte tenis.</Fragment>
  </Hero>

  <Features
    id="features"
    items={[
      {
        title: 'Clases de tenis',
        description:
          'En nuestra academia, ofrecemos clases de tenis diseñadas para jugadores de todas las edades y niveles, desde principiantes hasta avanzados. Nuestro equipo de entrenadores certificados adapta cada sesión según las necesidades y objetivos de cada alumno, garantizando un progreso constante y personalizado.',
        // icon: 'tabler:rocket',
        callToAction: {
          href: '/clases',
          text: 'Ver más',
          icon: 'tabler:arrow-right',
          target: '_self',
          variant: 'primary',
        },
      },
      {
        title: 'Torneos',
        description:
          'Creemos que la competencia es una parte fundamental del desarrollo de cualquier jugador. Por eso, organizamos torneos internos regulares para nuestros alumnos, brindándoles la oportunidad de poner a prueba sus habilidades en un entorno competitivo, pero a la vez amigable.',
        // icon: 'tabler:star',
        callToAction: {
          href: 'https://primergolpe.com.ar/',
          text: 'Ver más',
          icon: 'tabler:arrow-right',
          target: '_blank',
          variant: 'primary',
        },
      },
      {
        title: 'Escuela',
        description:
          'No solo nos enfocamos en mejorar el rendimiento físico y técnico de nuestros jugadores, sino también en ofrecerles herramientas que los ayuden a crecer como atletas y personas. Por eso, organizamos charlas motivacionales y educativas, impartidas por expertos en diferentes áreas, como psicología deportiva, nutrición, gestión emocional y entrenadores de alto nivel.',
        // icon: 'tabler:bulb',
        callToAction: {
          href: '/escuela',
          text: 'Ver más',
          icon: 'tabler:arrow-right',
          target: '_self',
          variant: 'primary',
        },
      },
      {
        title: 'Interclubes',
        description:
          'Las competencias interclubes son una oportunidad única para nuestros jugadores de medirse frente a otros tenistas de academias y clubes de toda la región. Estos torneos no solo ofrecen un nivel de competencia más alto, sino que también permiten a los participantes experimentar la emoción de representar a nuestra academia y poner en práctica todo lo que han aprendido en un entorno competitivo y profesional.',
        // icon: 'tabler:star',
      },
    ]}
  />

  <ImagesHome start={4} end={8} client:load />

  <Stats
    stats={[
      { title: 'Jugadores', amount: '1000' },
      { title: 'Torneos Realizados', amount: '22' },
      { title: 'Equipos Interclubes', amount: '6' },
      { title: 'Profesores', amount: '5' },
    ]}
  />

  <!-- <Note /> -->

  <Features2
    title="Encontranos en"
    columns={1}
    items={[
      {
        title: 'Club Atletico Caza y Pesca',
        description: 'Av. Ángel T. de Alvear 2100, Don Torcuato, Provincia de Buenos Aires',
      },
    ]}
  />

  <section class="pb-12">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3288.478212361535!2d-58.62790049842528!3d-34.49075883980252!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcbb4a4d19f145%3A0x4384a82a9a8891c2!2sClub%20Atl%C3%A9tico%20Caza%20y%20Pesca!5e0!3m2!1ses-419!2sar!4v1726089690342!5m2!1ses-419!2sar"
      width="100%"
      height="450"
      style="border:0;"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </section>
</Layout>
